/* APP */

.home {
  background: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
}
.home .navbar-flexbox-container {
  background: #7028e4;
}
.my-trips {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.my-trips .navbar-flexbox-container {
  background: #e17100;
}
.sign-in {
  background: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
}
.sign-in .navbar-flexbox-container {
  background: #0f653c;
}

/* --- GLASS ---*/

.glass {
  min-height: 80vh;
  width: 80vw;
  background-color: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 3;
  padding: 2rem;
  margin: auto;
  backdrop-filter: blur(2rem);
}

.login {
  min-height: 40vh;
  width: 30vw;
  background-color: white;
  border-radius: 2rem;
  z-index: 3;
  padding: 2rem;
  margin: auto;
  backdrop-filter: blur(2rem);
}

/* .circle1,
.circle2 {
  background-color: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
  z-index: 2;
}
.circle1 {
  top: 3%;
  left: 5%;
  width: 15rem;
  height: 15rem;
}
.circle2 {
  bottom: 2%;
  right: 5%;
} */
/* --- NAV BAR ---*/

.navbar-flexbox-container {
  background-color: #6f00ff;
  display: flex;
  flex-direction: row;
}
a {
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  width: 5em;
}
h5 {
  font-size: 0.8em;
  color: black;
  padding: 0;
  margin: 0em;
  text-align: center;
  text-decoration: none;
  width: 15em;
}
a:first-child {
  margin-right: auto;
  width: 6em;
}
a:hover {
  background-color: #4cc0f9;
}
.rocket-img {
  padding-left: 0.5em;
}

.resize {
  width: 1.5em;
}
button:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}
.flexbox-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.submit button {
  width: 10rem;
}
body {
  font-family: 'TT Hoves Variable', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  color: #505050;
  -webkit-font-smoothing: antialiased t;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1em;
  text-align: left;
}
.flexbox-container {
  display: flex;
  flex-direction: row;
  margin: 2em;
  gap: 10px;
  align-items: top;
  justify-content: center;
}
.hidden-options {
  position: relative;
}
/* ul {
  height: 10em;
  overflow: auto;
} */

.c-multi-select-dropdown {
  position: relative;
  width: 25em;
}
.c-multi-select-dropdown__selected {
  border: solid 1px #eee;
  font-size: 1em;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-multi-select-dropdown__data {
  padding-left: 0;
}
.c-multi-select-dropdown__options {
  display: none;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  width: 100%;
  list-style: none;
  padding-left: 0px;
  border: solid 1px #eee;
  padding: 5px 0px;
}
.c-multi-select-dropdown__option {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  cursor: pointer;
}
.c-multi-select-dropdown__option:hover {
  background-color: #f4f9fe;
}
.checkbox {
  margin-right: 6px;
}
/* button {
  background-color: #e9eaff;
  color: #001058;
  border: transparent;
  padding: 10px;
  height: 5em;
  display: block;
  position: absolute;
} */
.name {
  border: 1px solid #e9eaff;
  padding: 0.5em;
  display: inline;
  float: left;
  margin: 5px;
}
.hidden-options {
  padding: 0.5em;
  display: inline;
  float: left;
  margin: 5px;
}
.submit {
  color: white;
  background-color: #9699f5;
  border: transparent;
  height: 2em;
  width: 13em;
  border-radius: 1em;
  font-size: 1em;
}
.search-input {
  background-color: white;
}

.card-login-password-container {
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* TEXT BLOBS */

@import url('https://fonts.googleapis.com/css?family=Titan+One');
.blob-main-div {
  text-align: center;
}
.blob-main-div div {
  display: block;
  position: absolute;
  z-index: 9;
}

.blob-container {
  width: 320px;
  height: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blob-header {
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Titan One', cursive;
  font-size: 90px;
  font-weight: 700;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

.blob-header span {
  width: 100%;
  position: relative;
}

.blob-main-div h1 span:before {
  background: linear-gradient(45deg, #fc5c7d, #6a82fb, #fc5c7d);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  content: '';
  mix-blend-mode: screen;
}

[class*='blobs'] {
  mix-blend-mode: color;
  animation: blobs 15s ease-in-out infinite alternate;
}

.blobs_1 {
  background: #ff1493;
  width: 60px;
  height: 60px;
  top: 90px;
  left: 210px;
}

.blobs_2 {
  background: #ff4500;
  width: 80px;
  height: 80px;
  top: 155px;
  left: 230px;
}

.blobs_3 {
  background: #00ff00;
  width: 60px;
  height: 60px;
  top: 145px;
  left: 20px;
}

.blobs_4 {
  background: #ff0000;
  width: 100px;
  height: 100px;
  top: 115px;
  left: 100px;
}

.blobs_5 {
  background: #ffff00;
  width: 50px;
  height: 50px;
  top: 55px;
  left: 70px;
}

.blobs_6 {
  background: #00ffff;
  width: 60px;
  height: 60px;
  top: 220px;
  left: 55px;
}

.blobs_7 {
  background: #ff8c00;
  width: 50px;
  height: 50px;
  top: 210px;
  left: 180px;
}

@keyframes blobs {
  0% {
    border-radius: 26% 74% 61% 39% / 54% 67% 33% 46%;
  }
  10% {
    border-radius: 74% 26% 47% 53% / 68% 46% 54% 32%;
  }
  20% {
    border-radius: 48% 52% 30% 70% / 27% 37% 63% 73%;
  }
  30% {
    border-radius: 73% 27% 57% 43% / 28% 67% 33% 72%;
  }
  40% {
    border-radius: 63% 37% 56% 44% / 25% 28% 72% 75%;
  }
  50% {
    border-radius: 39% 61% 70% 30% / 61% 29% 71% 39%;
  }
  60% {
    border-radius: 27% 73% 29% 71% / 73% 51% 49% 27%;
  }
  70% {
    border-radius: 39% 61% 65% 35% / 74% 65% 35% 26%;
  }
  80% {
    border-radius: 55% 45% 37% 63% / 38% 30% 70% 62%;
  }
  90% {
    border-radius: 25% 75% 70% 30% / 39% 50% 50% 61%;
  }
  100% {
    border-radius: 66% 34% 33% 67% / 65% 73% 27% 35%;
  }
}
